@import url(http://fonts.googleapis.com/css?family=Raleway);
body{
  margin:0;
  font-family: 'Open Sans', sans-serif;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu > ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: left;
}
#cssmenu > ul > li > a {
  padding: 16px 20px;
  font-size: 14px;
  color: #000;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#cssmenu > ul > li.active > a {
  color: #000;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #000;
  -webkit-transform: rotateX(90deg) translateY(-23px);
  -moz-transform: rotateX(90deg) translateY(-23px);
  transform: rotateX(90deg) translateY(-23px);
  -ms-transform: none;
}
#cssmenu > ul > li > a::before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  color: #000;
  background: #ffffff;
  content: attr(data-title);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -ms-transform: translateY(-0 -18px);
}
#cssmenu > ul > li:hover > a::before,
#cssmenu > ul > li > a:hover::before {
  background: #ffffff;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul > li > a:hover {
  color: #dff2fa;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -ms-transform: none;
}
#cssmenu.small-screen > ul > li > a::before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 16px 50px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: #ffffff;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  left: 20px;
  top: 17px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  width: 22px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  left: 20px;
  top: 27px;
  display: block;
  width: 22px;
  height: 2px;
  background: #000;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #000;
}

/* Main item types */
.item_type {
    width:20%;
}
@media (max-width: 1365px){
    .item_type img{
        width:49%;
    }
}
.random_items{
  padding: 5px;
}
#phone_call{
    position: fixed;
    background-color: #000;
    bottom:40px;
    left:40px;
    width:40px;
    height:40px;
    border-radius:30px;
}
#phone_call img{
    width:40px;
    height:40px;
    display:block; 
}
.random_items{
  -moz-box-shadow:  0 10px 10px rgba(182, 182, 182, 0.9);
  -webkit-box-shadow:  0 10px 10px rgba(182, 182, 182, 0.9);
  box-shadow:  0 10px 10px rgba(182, 182, 182, 0.9);
}
#footer{
  margin-top:15px -10px;
  padding:10px;
  background: #D6D2D1;
}
#contact_phone{
  display:block;
  width:100%;
}
#our_phone{
  margin-left:10px;
  color: #000000;
  text-decoration:none;
}
#our_phone hover{
  color: #000000;
  text-decoration:none;
}
#our_phone active{
  color: #000000;
  text-decoration:none;
}
#footer_links{
  margin:10px 0;
}
#footer_links a{
  margin:5px;
}